<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="applicable-device" content="pc,mobile" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<meta name="description" content="Nine.T 以“创造财富”为使命，致力于为新星创业者提供最先进，且有特色的新型产品；打造出一条完美的奔小康之路 。" class="__web-inspector-hide-shortcut__">
		<meta name="author" content="Nine.T">
		<meta name="keywords" content="分子冰淇淋, 液氮,分子料理, 低温速冻,Nine.T">
		<title>Nine-T</title>
		<link rel="stylesheet" href="css/styles.min.css">
		<script src="js/tongji.js"></script>
	</head>

	<body>
		<div class="navbar-wrapper navBox">
			<div class="container-fluid">
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
							<a class="navbar-brand pclogo" href="index.html"><img class="hidden-xs" id="pcimg" src="img/pclogo.png" alt="Nine.T"><img class="visible-xs-block" id="mimg" src="img/pclogo.png" alt="Nine.T" style="width: 100%"></a>
						</div>
						<div id="navbar" class="navbar-collapse collapse right">
							<ul class="nav navbar-nav nav-fluid container">

								<li class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2">
									<a href="index.html" class="red">首页</a>
								</li>
								<li class="col-md-2 col-sm-2">
									<a href="product.html">产品介绍</a>
								</li>
								<li class="col-md-2 col-sm-2">
									<a href="index.html#about">关于我们</a>
								</li>
								<li class="col-md-2 col-sm-2">
									<a href="index.html#somenumber">统计数据</a>
								</li>
								<li class="col-md-2 col-sm-2">
									<a href="index.html#contact">联系我们</a>
								</li>

							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!--通用头部结束-->
		<div class="con">
			<div class="showoutAndroid">
				<div class="showoutAndroidIn">

					<img src="img/code_pg_web.png" alt="">

				</div>
			</div>
			<div class="showoutIos">
				<div class="showoutIosIn"> <img src="img/code_pgios.png" alt=""></div>
			</div>
			<ul>
				<li class="con_first con_first_zh" style="display: list-item">
					<div class="blackrgb"></div>
					<!-- <img src="img/andriod.jpg" />-->
					<div class="conPosi">
						<div class="col-md-6 left"></div>
						<div class="con_title col-md-4">
							<div class="con_pic"><img src="img/dz.png" alt=""></div>
							<h2>Nine.T</h2>
							<p>完美的作品</p>

							<div class="con_play" style="display: none">
								<a href="#" target="_blank">
									<!--<img src="img/play.png" alt="">--></a>
							</div>

							<div class="con_border">

								<a href="index.html#contact" class="downloadZh">立即加盟</a>

								<i class="andriodImg"><img src="img/phone2.png" alt=""></i>
							</div>
						</div>
						<div class="col-md-2 left"></div>
					</div>
				</li>
				<!--<li class="con_two con_two_zh">
					<div class="blackrgb"></div>
					<div class="con_title">
						<div class="con_pic"><img src="img/ios.png" alt=""></div>
						<h2>隐私卫士</h2>
						<p>全新设计，全方位隐私防护</p>
						<div class="con_border">
							<a href="#">App Store下载</a>
							<i class="iosImg"><img src="img/Android3.png" alt=""></i>
						</div>
					</div>
				</li>
				<li class="con_three con_three_zh">
					<img src="img/banner.jpg" />
				</li>-->
			</ul>
		</div>

		<div class="example" id="main">
			<div class="examplein">
				<div class="mbrbrTop">
					<ul class="ulList nav nav-tabs" id="myTab">
						<li class="active">
							<a href="#new" data-toggle="tab">最新产品</a>
						</li>
						<li>
							<a href="#building" data-toggle="tab">计划中</a>
						</li>
						<li>
							<a href="#building" v-on:click="getAllThemes(0)" data-toggle="tab">计划中</a>
						</li>
					</ul>
					<!--下面是要切换的内容-->
					<div class="tab-content listCon" id="myTabContent">
						<ul class="listCon01 Android tab-pane fade in active" id="new">
							<li class="center01 row aniamter01">
								<div class="centerLeft01 col-md-4 col-sm-4 col-xs-12" data-scroll-reveal="enter left over 0.5s after 0.2s"><img src="img/yys.png" alt="" style="max-width: 361px;max-height: 379px;"></div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerRight01 col-md-6 col-sm-6 col-xs-12 centerR" data-scroll-reveal="enter right over 0.5s after 0.2s">
									<h2>简介</h2>
									<p style="font-style:italic;font-size:18px;"> 分子料理是如今流行的概念之一，运用领先的科学技术来制造美食。一般的冰淇淋冰渣颗粒较大，口感较粗糙而且具有较低的营养价值。原材料新鲜也是分子冰淇淋变成优异冰淇淋的首要条件，配料及手作果酱不含人工增加，有用根绝色素防腐。这是一场冰淇淋的科技革命，带来不一般的甘旨。</p>
								</div>
							</li>
							<li class="center02 row">
								<div class="centerLeft02 col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom over 0.5s after 0.2s" data-scroll-reveal-id="3" style="-webkit-transform: translatey(50px);transform: translatey(50px);opacity: 0;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.2s;transition: transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.2s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
									<h2>理念</h2>
									<p style="font-style:italic;font-size:18px;"> 分子冰淇淋的原理，即是运用液氮，由于这种气体的沸点极低，-196℃能够令冰淇淋急速凝结，除了吃起来更详尽以外，还能够削减奶油和牛奶的运用量。更主要的是，利用了分子技术，所运用的食材，就更能够形形色色，口味繁复。</p>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerRight02 col-md-6 col-sm-4 col-xs-12 centerR" data-scroll-reveal="enter top over 0.5s after 0.2s" style="text-align: right;;-webkit-transform: translatey(-50px);transform: translatey(-50px);opacity: 0;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.2s;transition: transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.2s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-id="4" data-scroll-reveal-initialized="true"><img src="img/ys.png" alt="" style="max-width:393px;max-height: 284px;"></div>
							</li>
							<li class="center03 row">

								<div class="centerRight02 col-md-6 col-sm-4 col-xs-12" data-scroll-reveal="enter top over 0.5s after 0.5s" data-scroll-reveal-id="5" style="-webkit-transform: translatey(-50px);transform: translatey(-50px);opacity: 0;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.5s;transition: transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.5s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true"><img src="img/mtyc.png" alt="" style="max-width:400px;max-height:317px; "></div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerLeft02 col-md-6 col-sm-6 col-xs-12 centerR" data-scroll-reveal="enter bottom over 0.5s after 0.5s" data-scroll-reveal-id="6" style="-webkit-transform: translatey(50px);transform: translatey(50px);opacity: 0;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.5s;transition: transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.5s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
									<h2>特点</h2>
									<p style="font-style:italic;font-size:18px;">产品以现场制作、口感丝滑、新鲜生果搭配等特征，深得广大青年集体的喜爱。</p>
								</div>
							</li>
							<li class="center04 row">
								<div class="centerLeft04 col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter top over 0.5s after 0.5s" data-scroll-reveal-id="7" style="-webkit-transform: translatey(-50px);transform: translatey(-50px);opacity: 0;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.5s;transition: transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0.5s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
									<h2>市场情况</h2>
									<p style="font-style:italic;font-size:18px;">已进驻30余座城市：北京、上海、广州、深圳、南京、武汉、昆明、包头、常州、无锡、南通、淮安、泰州、连云港、昆山、太仓、宿迁、衢州、黄石、......与万象购物广场、恒隆购物广场、兴隆购物中心、东方商厦等很多中高档购物中心和中高级百货商场，变成协作开展同伴。</p>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerLeft03 col-md-4 col-sm-4 col-xs-12 centerR lastProduct" data-scroll-reveal="enter left over 0.5s after 0.5s"><img src="img/fd.png" alt="" style="max-width:361px;max-height:340px; "></div>
							</li>
						</ul>
						<!--<ul class="tab-pane listCon02 fade " id="ios">
							<li class="center01 row">
								<div class="centerLeft01 col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter top over 0.5s after 0.5s">
									<h2>密码保护</h2>
									<p>数字密码，手势密码，Touch ID,多种密码方式保护你重要的隐私信息。</p>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerRight01 col-md-4 col-sm-4 col-xs-12 centerR" data-scroll-reveal="enter bottom over 0.5s after 0.5s"><img src="img/password.png" alt="" style="max-width:471px;max-height:478px; "></div>
							</li>
							<li class="center02 row">
								<div class="centerLeft02 col-md-4 col-sm-4 col-xs-12" data-scroll-reveal="enter left over 0.5s after 0.5s"><img src="img/bxx.png" alt="" style="max-width:438px;max-height:458px; "></div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerRight02 col-md-6 col-sm-6 col-xs-12 centerR" data-scroll-reveal="enter right over 0.5s after 0.5s">
									<h2>保险箱</h2>
									<p>登录信息、银行卡和会员卡,通通上锁保存，密码保护安全又放心。</p>
								</div>
							</li>
							<li class="center03 row">
								<div class="centerLeft03 col-md-6 col-sm-6 col-xs-12 centerR" data-scroll-reveal="enter bottom over 0.5s after 0.5s">
									<h2>密码生成</h2>
									<p>自动检测密码安全强度， 为你生成高强度密码， 再也不是出生日期那么简单。</p>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerRight03 col-md-4 col-sm-4 col-xs-12 centerR" data-scroll-reveal="enter top over 0.5s after 0.5s"><img src="img/mmsc.png" alt="" style="max-width:432px;max-height:490px; "></div>
							</li>
							<li class="center04 row">
								<div class="centerLeft04 col-md-4 col-sm-4 col-xs-12" data-scroll-reveal="enter left over 0.5s after 0.5s"><img src="img/ysll.png" alt="" style="max-width:429px;max-height:409px; "></div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerRight04 col-md-6 col-sm-6 col-xs-12 centerR" data-scroll-reveal="enter right over 0.5s after 0.5s">
									<h2>隐私浏览</h2>
									<p>内置隐私浏览器，自动填充账户密码，一键快速登录访问，自在浏览了无痕。</p>
								</div>
							</li>
							<li class="center05 row">
								<div class="centerLeft05 col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter top over 0.5s after 0.5s">
									<h2>电子会员卡</h2>
									<p>扫描并保存会员卡各类条码，为你定制电子会员卡，随时随地，使用方便又快捷。</p>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
								<div class="centerRight05 col-md-4 col-sm-4 col-xs-12 centerR lastProduct" data-scroll-reveal="enter bottom over 0.5s after 0.5s"><img src="img/dzhyk.png" alt="" style="max-width:445px;max-height:396px; "></div>
							</li>
						</ul>
						<ul id="theme" class="tab-pane listCon03 fade " v-cloak>
							<ul class="con03In row">
								<li class="col-xs-12 col-sm-12 col-md-4" v-for="theme in themes">
									<div class="theme">
										<div class="themeImg"><img :src="theme.imageUrl" alt="theme.title"></div>
										<div class="themeIn">
											<img :src="theme.iconUrl" alt="theme.title" class="right themeIcon">
											<span class="left">{{theme.title}}</span>
										</div>
										<div class="productDown">
											<a :href="theme.downloadUrl" target="_blank"></a>
										</div>

									</div>
								</li>
							</ul>
							<div id="page" v-if="themes.length>0"></div>
						</ul>-->
					</div>
				</div>
			</div>
		</div>
		<div class="back">
			<p class="goback"></p>
			<!--

			<a href="#" target="_blank">
				<p class="backIn"></p>
			</a>-->

			<!--</p>-->
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer_bottom center">
					<p class="footer_copy">
						<a href="#" target="_blank">Copyright © 2017 Nine.T</a>
					</p>
				</div>
			</div>
		</div>
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scrollReveal.js"></script>
		<!--<script src="js/index.js"></script>-->
		<script src="js/main.min.js"></script>
		<script>
			console.log("Powered by Nine.T");
		</script>
		<script src="js/jquery.simplePagination.js"></script>
		<script src="js/vue.min.js"></script>
		<script>
			(function() {

				window.scrollReveal = new scrollReveal({ reset: true, move: '50px' });

				var model = new Vue({
					el: '#main',
					data: {
						themes: [],
						itemPerPage: 6
					},
					methods: {
						getAllThemes: doGetAllThemes
					}
				});

				function doGetAllThemes(startIndex) {
					return true;//Themes uri Hack
					var curlg = $('#curLg').html() || 'en';
					$.get('/' + curlg + '/themes', { start: startIndex, rows: model.itemPerPage })
						.done(function(result) {
							if(result && result.code == 0) {
								model.themes = result.data.data;
								renderPaginator(startIndex, result.data.total);
							} else {
								model.themes = [];
							}
						})
						.fail(function() {
							model.themes = [];
						});
				};

				function renderPaginator(start, count) {
					var currentPage = Math.ceil((start + 1) / model.itemPerPage);
					var totalPage = Math.ceil(count / model.itemPerPage);
					currentPage = currentPage == 0 ? 1 : currentPage;

					$('#page').pagination({
						items: count,
						itemsOnPage: model.itemPerPage,
						cssStyle: 'black-theme',
						currentPage: currentPage,
						prevText: '< ',
						nextText: ' > ',
						onPageClick: function(page, e) {
							doGetAllThemes((page - 1) * model.itemPerPage);
						}
					})
					$('#page').css({ 'text-align': 'center', 'width': '100%', 'margin': 0 });
				}

				doGetAllThemes(0);
			})();
		</script>

	</body>

</html>